{
    "extends": "airbnb/base",
    "rules": {
        "comma-dangle": 0,
        "id-length": 0,
        "indent": [2, 4],
        "no-const-assign": 2,
        "space-after-keywords": [2, 'never']
    }
}
