{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "indent": [2, 4, { "SwitchCase": 1 }],
    "max-len": 0
  }
}
